$primary: #ffafd3;
$onPrimary: #63003c;
$primaryContainer: #8c0057;
$onPrimaryContainer: #ffd9e8;
$secondary: #e1bdca;
$onSecondary: #412933;
$secondaryContainer: #59404a;
$onSecondaryContainer: #fed9e6;
$tertiary: #f1bb98;
$onTertiary: #49280f;
$tertiaryContainer: #643e23;
$onTertiaryContainer: #ffdbc4;
$error: #ffb4a9;
$onError: #680003;
$errorContainer: #930006;
$onErrorContainer: #ffb4a9;
$background: #201a1c;
$onBackground: #ebe0e2;
$surface: #201a1c;
$onSurface: #ebe0e2;
$surfaceVariant: #514348;
$onSurfaceVariant: #d4c2c7;
$outline: #9d8d92;
$shadow: #000000;
$inverseSurface: #ebe0e2;
$inverseOnSurface: #352f31;
$inversePrimary: #b40d75;
$primary2: #ffb3aa;
$onPrimary2: #690007;
$primaryContainer2: #93000e;
$onPrimaryContainer2: #ffdad5;
$secondary2: #e7beb0;
$onSecondary2: #442a21;
$secondaryContainer2: #5d4036;
$onSecondaryContainer2: #ffdbce;
$background2: #201a18;
$onBackground2: #ede0dc;
$surface2: #201a18;
$onSurface2: #ede0dc;
$surfaceVariant2: #52433e;
$onSurfaceVariant2: #d8c2bb;
$primary3: #ffb683;
$onPrimary3: #512400;
$primaryContainer3: #733600;
$onPrimaryContainer3: #ffdbc4;
$secondary3: #d9c4a1;
$onSecondary3: #3b2f15;
$secondaryContainer3: #53452a;
$onSecondaryContainer3: #f6dfba;
$background3: #1e1b16;
$onBackground3: #e9e1d9;
$surface3: #1e1b16;
$onSurface3: #e9e1d9;
$surfaceVariant3: #4e4639;
$onSurfaceVariant3: #d1c5b4;
$primary4: #ffbb00;
$onPrimary4: #422d00;
$primaryContainer4: #5e4200;
$onPrimaryContainer4: #ffde9e;
$secondary4: #c1caab;
$onSecondary4: #2b331d;
$secondaryContainer4: #424a32;
$onSecondaryContainer4: #dde6c6;
$background4: #1b1c18;
$onBackground4: #e4e3db;
$surface4: #1b1c18;
$onSurface4: #e4e3db;
$surfaceVariant4: #45483d;
$onSurfaceVariant4: #c6c8b9;
$primary5: #c7cf00;
$onPrimary5: #303300;
$primaryContainer5: #464a00;
$onPrimaryContainer5: #e3ec00;
$secondary5: #b2cdc1;
$onSecondary5: #1e352d;
$secondaryContainer5: #344c43;
$onSecondaryContainer5: #cee8dc;
$background5: #191c1b;
$onBackground5: #e1e3e0;
$surface5: #191c1b;
$onSurface5: #e1e3e0;
$surfaceVariant5: #3f4945;
$onSurfaceVariant5: #bfc9c3;
$primary6: #58e150;
$onPrimary6: #003a00;
$primaryContainer6: #005300;
$onPrimaryContainer6: #77ff6a;
$secondary6: #b2cad2;
$onSecondary6: #1d343a;
$secondaryContainer6: #344a51;
$onSecondaryContainer6: #cee7ef;
$background6: #191c1d;
$onBackground6: #e1e3e4;
$surface6: #191c1d;
$onSurface6: #e1e3e4;
$surfaceVariant6: #3f484b;
$onSurfaceVariant6: #bfc8cb;
$primary7: #00e0b0;
$onPrimary7: #00382a;
$primaryContainer7: #00513e;
$onPrimaryContainer7: #09ffce;
$secondary7: #bec7dd;
$onSecondary7: #283141;
$secondaryContainer7: #3e4759;
$onSecondaryContainer7: #dae3f9;
$background7: #1a1b1f;
$onBackground7: #e3e2e6;
$surface7: #1a1b1f;
$onSurface7: #e3e2e6;
$surfaceVariant7: #44474f;
$onSurfaceVariant7: #c4c6cf;
$primary8: #00dbe8;
$onPrimary8: #00363a;
$primaryContainer8: #004f54;
$onPrimaryContainer8: #65f6ff;
$secondary8: #cfc1da;
$onSecondary8: #362d40;
$secondaryContainer8: #4d4357;
$onSecondaryContainer8: #ecddf7;
$background8: #1d1b1e;
$onBackground8: #e7e1e5;
$surface8: #1d1b1e;
$onSurface8: #e7e1e5;
$surfaceVariant8: #4a454d;
$onSurfaceVariant8: #ccc4ce;
